.wrapper,
.charts-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100wh;
    height: 90vh;
}
.charts-wrapper{
    width: 90%;
    height: auto;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: var(--shadow);
    justify-content: space-between;
    margin: 2rem;
}